In [48]:
import numpy as np
import pandas as pd

trip_df = pd.read_csv('raw_data/Taxi_Trips_20230112.csv')

In [49]:
trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6495570 entries, 0 to 6495569
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Trip ID                     object
 1   Taxi ID                     object
 2   Trip Start Timestamp        object
 3   Trip End Timestamp          object
 4   Trip Seconds                float64
 5   Trip Miles                  float64
 6   Pickup Census Tract         float64
 7   Dropoff Census Tract        float64
 8   Pickup Community Area       float64
 9   Dropoff Community Area      float64
 10  Fare                        float64
 11  Tips                        float64
 12  Tolls                       float64
 13  Extras                      float64
 14  Trip Total                  float64
 15  Payment Type                object
 16  Company                     object
 17  Pickup Centroid Latitude    float64
 18  Pickup Centroid Longitude   float64
 19  Pickup Centroid Location    object
 20  Dropoff Centroid Latitude   float64
 21  Dropoff Centroid Longitude  float64
 22  Dropoff Centroid  Location  object
dtypes: float64(15), object(8)
memory usage: 1.1+ GB

In [50]:
trip_df.head

<bound method NDFrame.head of                                           Trip ID  \
0        0fca59218b11688279d795c03c4d16f851f13fa0
1        1e539d6e7501164c6b76b761c3152c235e206d59
2        2b3c5200439d51f626b60380809bbbcca766a85b
3        45b2ea39cfff64d61a46ef016e16f8ee74e9ed23
4        464df6aaaf97ca8745985c2a5b2e481067a2bfb6
...                                           ...
6495565  ee7cce18a4b24e080366930ab5ec72d1aeb6556c
6495566  f3a139c0df3513324ff3f699bf40db2e84291e3a
6495567  f74fa03a6cf8cdcf668d0726efa1671d398b4450
6495568  fa9c5a9388fe0d704452ae7bf3ccb917aa39c125
6495569  fd4f3f628496b076e06a91e6933bb12489e1c65a

                                                   Taxi ID  \
0        e2c349c7cbb608d552aa0b5814031943f13641ef9e50d8...
1        4ab7a7510c1ebcc9b2e3eaa7bdd6508dbea34da7986aca...
2        8c76eb82f069c0731a0049cb78898f02cc5ac6990244c9...
3        a688de71e9eb70603ba839dc7faf949968ae3e971e0575...
4        8b1a88e5a09cfd55ca72d267f00f56fa50a42aa322bdfe...
...                                                    ...
6495565  adb1cb74113851b651b474182fbe95a9663783779db8cc...
6495566  9b48ad5744e86450fb4db78e7095a6827bafc43a6a9d9a...
6495567  2fea69c8a6e08471bc4339a05e9ee7955bef68d791f77a...
6495568  9a3b307a7d2c71565a27a2bcef5560f576240023bf21ca...
6495569  41ba5cfc7d59a833c94ed0b59fcc8a5f3aa5ca1b291325...

           Trip Start Timestamp      Trip End Timestamp  Trip Seconds  \
0        01/01/2023 12:00:00 AM  01/01/2023 12:15:00 AM        1037.0
1        01/01/2023 12:00:00 AM  01/01/2023 12:15:00 AM        1341.0
2        01/01/2023 12:00:00 AM  01/01/2023 12:15:00 AM         844.0
3        01/01/2023 12:00:00 AM  01/01/2023 12:00:00 AM         361.0
4        01/01/2023 12:00:00 AM  01/01/2023 12:15:00 AM         704.0
...                         ...                     ...           ...
6495565  12/31/2023 11:45:00 PM  01/01/2024 12:00:00 AM        1310.0
6495566  12/31/2023 11:45:00 PM  01/01/2024 12:00:00 AM        1228.0
6495567  12/31/2023 11:45:00 PM  01/01/2024 12:00:00 AM        1473.0
6495568  12/31/2023 11:45:00 PM  12/31/2023 11:45:00 PM         358.0
6495569  12/31/2023 11:45:00 PM  01/01/2024 12:00:00 AM         427.0

         Trip Miles  Pickup Census Tract  Dropoff Census Tract  \
0              4.82                  NaN                   NaN
1             16.63                  NaN                   NaN
2              3.84                  NaN                   NaN
3              0.63                  NaN                   NaN
4              0.99                  NaN                   NaN
...             ...                  ...                   ...
6495565       18.23                  NaN                   NaN
6495566        4.29                  NaN                   NaN
6495567        9.94                  NaN                   NaN
6495568        2.05                  NaN                   NaN
6495569        1.28                  NaN                   NaN

         Pickup Community Area  Dropoff Community Area  ...  Extras  \
0                          6.0                    32.0  ...     0.0
1                         76.0                     8.0  ...     6.0
2                         24.0                     8.0  ...     0.0
3                         32.0                    32.0  ...     1.0
4                         14.0                    14.0  ...     0.0
...                        ...                     ...  ...     ...
6495565                   28.0                    76.0  ...     0.0
6495566                    6.0                    21.0  ...     0.0
6495567                   56.0                     NaN  ...    18.0
6495568                   76.0                     NaN  ...     4.0
6495569                   24.0                     8.0  ...     0.0

         Trip Total  Payment Type                       Company  \
0             19.50   Credit Card  Taxicab Insurance Agency Llc
1             53.00   Credit Card                      Sun Taxi
2             20.17        Mobile                      Sun Taxi
3              6.50          Cash                   5 Star Taxi
4              7.75          Cash                     Flash Cab
...             ...           ...                           ...
6495565       60.50   Credit Card                   5 Star Taxi
6495566       15.25          Cash                      Sun Taxi
6495567       44.75          Cash                      Sun Taxi
6495568       15.30        Mobile                       Top Cab
6495569       11.22        Mobile                  City Service

         Pickup Centroid Latitude Pickup Centroid Longitude  \
0                       41.944227                -87.655998
1                       41.980264                -87.913625
2                       41.901207                -87.676356
3                       41.878866                -87.625192
4                       41.968069                -87.721559
...                           ...                       ...
6495565                 41.874005                -87.663518
6495566                 41.944227                -87.655998
6495567                 41.792592                -87.769615
6495568                 41.980264                -87.913625
6495569                 41.901207                -87.676356

                     Pickup Centroid Location  Dropoff Centroid Latitude  \
0        POINT (-87.6559981815 41.9442266014)                  41.878866
1         POINT (-87.913624596 41.9802643146)                  41.899602
2        POINT (-87.6763559892 41.9012069941)                  41.899602
3        POINT (-87.6251921424 41.8788655841)                  41.878866
4            POINT (-87.7215590627 41.968069)                  41.968069
...                                       ...                        ...
6495565   POINT (-87.6635175498 41.874005383)                  41.980264
6495566  POINT (-87.6559981815 41.9442266014)                  41.938666
6495567  POINT (-87.7696154528 41.7925923603)                        NaN
6495568   POINT (-87.913624596 41.9802643146)                        NaN
6495569  POINT (-87.6763559892 41.9012069941)                  41.899602

         Dropoff Centroid Longitude            Dropoff Centroid  Location
0                        -87.625192  POINT (-87.6251921424 41.8788655841)
1                        -87.633308   POINT (-87.6333080367 41.899602111)
2                        -87.633308   POINT (-87.6333080367 41.899602111)
3                        -87.625192  POINT (-87.6251921424 41.8788655841)
4                        -87.721559      POINT (-87.7215590627 41.968069)
...                             ...                                   ...
6495565                  -87.913625   POINT (-87.913624596 41.9802643146)
6495566                  -87.711211  POINT (-87.7112105933 41.9386661962)
6495567                         NaN                                   NaN
6495568                         NaN                                   NaN
6495569                  -87.633308   POINT (-87.6333080367 41.899602111)

[6495570 rows x 23 columns]>

In [51]:
nan_rows_specific = trip_df[trip_df[['Pickup Centroid Longitude', 'Pickup Centroid Latitude', 'Dropoff Centroid Longitude', 'Dropoff Centroid Latitude']].isnull().any(axis=1)]
nan_rows_specific

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
8,5bd5f7e751eb7a5708edfb81980ab24c6bb2b7a8,7cb607b940a690e65b20dec20182d2646d3306f725130c...,01/01/2023 12:00:00 AM,01/01/2023 12:30:00 AM,2040.0,17.30,NaN,NaN,76.0,NaN,...,32.0,86.50,Credit Card,Globe Taxi,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),NaN,NaN,NaN
13,b6b2e5b4de1d775f1979d1b2e728cd7418dc329a,42e3ec7750e4be6e56c47bcdefe5cb86ddb0d0c65bcf4d...,01/01/2023 12:00:00 AM,01/01/2023 12:15:00 AM,1444.0,15.36,NaN,NaN,76.0,NaN,...,29.0,78.49,Credit Card,Taxicab Insurance Agency Llc,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),NaN,NaN,NaN
15,c22902fdf0548a8d12ce49015763fcb9330d4080,1bb875f74db6b3d8bcab27f6784218036ec738c201e533...,01/01/2023 12:00:00 AM,01/01/2023 12:00:00 AM,6.0,0.07,NaN,NaN,NaN,NaN,...,0.0,3.25,Cash,Flash Cab,NaN,NaN,NaN,NaN,NaN,NaN
24,061aff7b0f8c46651d0f30e2f3e38acafb6ac81f,222a0a55fe5180e292a8e128804e081fa50b05a0329775...,01/01/2023 12:00:00 AM,01/01/2023 12:15:00 AM,938.0,7.48,NaN,NaN,76.0,NaN,...,6.5,27.50,Credit Card,Flash Cab,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),NaN,NaN,NaN
44,4f65ab9c12a50ab0e5dcc8711524d4a789b0c83f,cf278f6c67e799170264672cf78527e136318d96aefd5f...,01/01/2023 12:00:00 AM,01/01/2023 12:45:00 AM,1817.0,17.84,NaN,1.703132e+10,NaN,32.0,...,5.0,60.60,Credit Card,Taxicab Insurance Agency Llc,NaN,NaN,NaN,41.884987,-87.620993,POINT (-87.6209929134 41.8849871918)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495510,327fa02e9cb1cc29e7898cf98830f6ade295f9e9,15ddbeeb791d41c7683b885617281c0b548544f189ee36...,12/31/2023 11:45:00 PM,01/01/2024 12:00:00 AM,1080.0,8.10,NaN,NaN,56.0,NaN,...,16.5,46.30,Credit Card,Taxi Affiliation Services,41.792592,-87.769615,POINT (-87.7696154528 41.7925923603),NaN,NaN,NaN
6495528,5e3f05fac03791828973a9d5e273d756478e76a5,ae61536025042a43c682f2450eaa073da8c7a7f736aec5...,12/31/2023 11:45:00 PM,01/01/2024 12:30:00 AM,1980.0,0.00,NaN,NaN,8.0,NaN,...,7.0,52.75,Credit Card,Choice Taxi Association,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),NaN,NaN,NaN
6495554,cb50d6951086242beccb8fe7d248cfad3fab3dd7,179f1a051e9e6d3fc0726628962faff68506086ee8df14...,12/31/2023 11:45:00 PM,01/01/2024 12:00:00 AM,1383.0,17.95,NaN,NaN,28.0,NaN,...,0.0,55.31,Credit Card,Blue Ribbon Taxi Association,41.874005,-87.663518,POINT (-87.6635175498 41.874005383),NaN,NaN,NaN
6495567,f74fa03a6cf8cdcf668d0726efa1671d398b4450,2fea69c8a6e08471bc4339a05e9ee7955bef68d791f77a...,12/31/2023 11:45:00 PM,01/01/2024 12:00:00 AM,1473.0,9.94,NaN,NaN,56.0,NaN,...,18.0,44.75,Cash,Sun Taxi,41.792592,-87.769615,POINT (-87.7696154528 41.7925923603),NaN,NaN,NaN
6495568,fa9c5a9388fe0d704452ae7bf3ccb917aa39c125,9a3b307a7d2c71565a27a2bcef5560f576240023bf21ca...,12/31/2023 11:45:00 PM,12/31/2023 11:45:00 PM,358.0,2.05,NaN,NaN,76.0,NaN,...,4.0,15.30,Mobile,Top Cab,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),NaN,NaN,NaN

In [52]:
trip_df = trip_df.dropna(subset=['Pickup Centroid Longitude', 'Pickup Centroid Latitude', 'Dropoff Centroid Longitude', 'Dropoff Centroid Latitude'])

trip_df

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,0fca59218b11688279d795c03c4d16f851f13fa0,e2c349c7cbb608d552aa0b5814031943f13641ef9e50d8...,01/01/2023 12:00:00 AM,01/01/2023 12:15:00 AM,1037.0,4.82,NaN,NaN,6.0,32.0,...,0.0,19.50,Credit Card,Taxicab Insurance Agency Llc,41.944227,-87.655998,POINT (-87.6559981815 41.9442266014),41.878866,-87.625192,POINT (-87.6251921424 41.8788655841)
1,1e539d6e7501164c6b76b761c3152c235e206d59,4ab7a7510c1ebcc9b2e3eaa7bdd6508dbea34da7986aca...,01/01/2023 12:00:00 AM,01/01/2023 12:15:00 AM,1341.0,16.63,NaN,NaN,76.0,8.0,...,6.0,53.00,Credit Card,Sun Taxi,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.899602,-87.633308,POINT (-87.6333080367 41.899602111)
2,2b3c5200439d51f626b60380809bbbcca766a85b,8c76eb82f069c0731a0049cb78898f02cc5ac6990244c9...,01/01/2023 12:00:00 AM,01/01/2023 12:15:00 AM,844.0,3.84,NaN,NaN,24.0,8.0,...,0.0,20.17,Mobile,Sun Taxi,41.901207,-87.676356,POINT (-87.6763559892 41.9012069941),41.899602,-87.633308,POINT (-87.6333080367 41.899602111)
3,45b2ea39cfff64d61a46ef016e16f8ee74e9ed23,a688de71e9eb70603ba839dc7faf949968ae3e971e0575...,01/01/2023 12:00:00 AM,01/01/2023 12:00:00 AM,361.0,0.63,NaN,NaN,32.0,32.0,...,1.0,6.50,Cash,5 Star Taxi,41.878866,-87.625192,POINT (-87.6251921424 41.8788655841),41.878866,-87.625192,POINT (-87.6251921424 41.8788655841)
4,464df6aaaf97ca8745985c2a5b2e481067a2bfb6,8b1a88e5a09cfd55ca72d267f00f56fa50a42aa322bdfe...,01/01/2023 12:00:00 AM,01/01/2023 12:15:00 AM,704.0,0.99,NaN,NaN,14.0,14.0,...,0.0,7.75,Cash,Flash Cab,41.968069,-87.721559,POINT (-87.7215590627 41.968069),41.968069,-87.721559,POINT (-87.7215590627 41.968069)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495563,ec183abaa7ff142f17ebcdafa1f3d4e611a9f494,f6d1b6c930d62f6d8cbbd8f86a593ff057408c82f76474...,12/31/2023 11:45:00 PM,01/01/2024 12:00:00 AM,786.0,2.02,1.703108e+10,1.703133e+10,8.0,33.0,...,0.0,10.00,Cash,Chicago Independents,41.892508,-87.626215,POINT (-87.6262149064 41.8925077809),41.859350,-87.617358,POINT (-87.6173580061 41.859349715)
6495564,ed445ada05f17c5f359892eda3c329e1445b5e7b,4b034948aceedd53262ae713f864b0364953a1852b6b24...,12/31/2023 11:45:00 PM,12/31/2023 11:45:00 PM,4.0,0.00,1.703132e+10,1.703132e+10,32.0,32.0,...,0.0,25.62,Credit Card,Sun Taxi,41.884987,-87.620993,POINT (-87.6209929134 41.8849871918),41.884987,-87.620993,POINT (-87.6209929134 41.8849871918)
6495565,ee7cce18a4b24e080366930ab5ec72d1aeb6556c,adb1cb74113851b651b474182fbe95a9663783779db8cc...,12/31/2023 11:45:00 PM,01/01/2024 12:00:00 AM,1310.0,18.23,NaN,NaN,28.0,76.0,...,0.0,60.50,Credit Card,5 Star Taxi,41.874005,-87.663518,POINT (-87.6635175498 41.874005383),41.980264,-87.913625,POINT (-87.913624596 41.9802643146)
6495566,f3a139c0df3513324ff3f699bf40db2e84291e3a,9b48ad5744e86450fb4db78e7095a6827bafc43a6a9d9a...,12/31/2023 11:45:00 PM,01/01/2024 12:00:00 AM,1228.0,4.29,NaN,NaN,6.0,21.0,...,0.0,15.25,Cash,Sun Taxi,41.944227,-87.655998,POINT (-87.6559981815 41.9442266014),41.938666,-87.711211,POINT (-87.7112105933 41.9386661962)
6495569,fd4f3f628496b076e06a91e6933bb12489e1c65a,41ba5cfc7d59a833c94ed0b59fcc8a5f3aa5ca1b291325...,12/31/2023 11:45:00 PM,01/01/2024 12:00:00 AM,427.0,1.28,NaN,NaN,24.0,8.0,...,0.0,11.22,Mobile,City Service,41.901207,-87.676356,POINT (-87.6763559892 41.9012069941),41.899602,-87.633308,POINT (-87.6333080367 41.899602111)

In [53]:
import pandas as pd

# 假设这是加载数据的代码
# df = pd.read_csv('path_to_your_data.csv')

# 将时间戳列转换为datetime类型
trip_df['Trip Start Timestamp'] = pd.to_datetime(trip_df['Trip Start Timestamp'])
trip_df['Trip End Timestamp'] = pd.to_datetime(trip_df['Trip End Timestamp'])

# 找出时间范围
start_time_min = trip_df['Trip Start Timestamp'].min()
end_time_max = trip_df['Trip End Timestamp'].max()

print(f"时间范围从 {start_time_min} 到 {end_time_max}")

AnonymousUser\AppData\Local\Temp\ipykernel_27324\807657203.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_df['Trip Start Timestamp'] = pd.to_datetime(trip_df['Trip Start Timestamp'])

时间范围从 2023-01-01 00:00:00 到 2024-01-02 13:00:00

AnonymousUser\AppData\Local\Temp\ipykernel_27324\807657203.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_df['Trip End Timestamp'] = pd.to_datetime(trip_df['Trip End Timestamp'])

In [54]:
import pandas as pd

# 假设df是已加载的DataFrame
# 首先，转换日期时间列
trip_df['Trip Start Timestamp'] = pd.to_datetime(trip_df['Trip Start Timestamp'])
trip_df['Trip End Timestamp'] = pd.to_datetime(trip_df['Trip End Timestamp'])

# 然后，设置时间范围
start_date = '2023-06-01'
end_date = '2024-01-01'

# 筛选数据
trip_df = trip_df[(trip_df['Trip Start Timestamp'] >= start_date) & (trip_df['Trip Start Timestamp'] < end_date)]
trip_df = trip_df[(trip_df['Trip End Timestamp'] >= start_date) & (trip_df['Trip End Timestamp'] < end_date)]

# 查看结果
trip_df.info()

AnonymousUser\AppData\Local\Temp\ipykernel_27324\1799586310.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_df['Trip Start Timestamp'] = pd.to_datetime(trip_df['Trip Start Timestamp'])
AnonymousUser\AppData\Local\Temp\ipykernel_27324\1799586310.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_df['Trip End Timestamp'] = pd.to_datetime(trip_df['Trip End Timestamp'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3513535 entries, 2609422 to 6495564
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Trip ID                     object
 1   Taxi ID                     object
 2   Trip Start Timestamp        datetime64[ns]
 3   Trip End Timestamp          datetime64[ns]
 4   Trip Seconds                float64
 5   Trip Miles                  float64
 6   Pickup Census Tract         float64
 7   Dropoff Census Tract        float64
 8   Pickup Community Area       float64
 9   Dropoff Community Area      float64
 10  Fare                        float64
 11  Tips                        float64
 12  Tolls                       float64
 13  Extras                      float64
 14  Trip Total                  float64
 15  Payment Type                object
 16  Company                     object
 17  Pickup Centroid Latitude    float64
 18  Pickup Centroid Longitude   float64
 19  Pickup Centroid Location    object
 20  Dropoff Centroid Latitude   float64
 21  Dropoff Centroid Longitude  float64
 22  Dropoff Centroid  Location  object
dtypes: datetime64[ns](2), float64(15), object(6)
memory usage: 643.3+ MB

In [55]:
trip_df.head

<bound method NDFrame.head of                                           Trip ID  \
2609422  01b99a00c590a4df1af2f5a86c87a31450907bdd
2609424  111052ef490e1b1b59311636ead9f384d19b970a
2609425  14d661536fb9cbf261dcdf51e7df7f0d56a12b39
2609426  16d98c0c6cd54966cc4f4dec806491857b670228
2609427  16ee8eea0d749454c22e33b7b67e8d7d8c42c6c4
...                                           ...
6495552  c5ad9b572bff9d5cb9a8cf0da173789f7910a835
6495553  c6cb3aad561e0c407239333d535a4922540f9adc
6495557  dcfbaa5d01e81e18637185fc5e822d6a08456f59
6495559  e2b8bea5dbc60464ff88ba8dc8b66836513101e8
6495564  ed445ada05f17c5f359892eda3c329e1445b5e7b

                                                   Taxi ID  \
2609422  a33e818f102d2dc8ba6ec21c582cf1aa1cd034a85db091...
2609424  eead1e2c21b26570411277cb384d3d8d072fc6da913b06...
2609425  180309cc29892cd16348ef74d7dd6f33af87e585a29b62...
2609426  ffa4a7ea614ef7d2eac427f6f1a0af6a5298a57224da0b...
2609427  0bea3de3c36237d68b009b24ee3db86c78e9e618a73a3b...
...                                                    ...
6495552  c7a8a53874bbcdb11e70a488485e8bdd0bb8cc0de8f5d9...
6495553  bca79085da78d157007711d04c6e06f655ee5eafb1e5b6...
6495557  2659a61c08f91c6efd9e7d7947a00006a7bc26aa518241...
6495559  884655d853cbe41e1cdf747969f0dc5b55ed2d5f76c09a...
6495564  4b034948aceedd53262ae713f864b0364953a1852b6b24...

        Trip Start Timestamp  Trip End Timestamp  Trip Seconds  Trip Miles  \
2609422  2023-06-01 00:00:00 2023-06-01 00:30:00        2031.0       21.03
2609424  2023-06-01 00:00:00 2023-06-01 00:30:00        1412.0       17.83
2609425  2023-06-01 00:00:00 2023-06-01 00:45:00        2517.0        7.50
2609426  2023-06-01 00:00:00 2023-06-01 00:15:00         952.0        6.41
2609427  2023-06-01 00:00:00 2023-06-01 00:15:00         480.0        1.50
...                      ...                 ...           ...         ...
6495552  2023-12-31 23:45:00 2023-12-31 23:45:00           7.0        0.00
6495553  2023-12-31 23:45:00 2023-12-31 23:45:00         839.0        7.17
6495557  2023-12-31 23:45:00 2023-12-31 23:45:00         300.0        1.80
6495559  2023-12-31 23:45:00 2023-12-31 23:45:00         279.0        1.51
6495564  2023-12-31 23:45:00 2023-12-31 23:45:00           4.0        0.00

         Pickup Census Tract  Dropoff Census Tract  Pickup Community Area  \
2609422                  NaN                   NaN                   76.0
2609424                  NaN                   NaN                   76.0
2609425                  NaN                   NaN                   56.0
2609426                  NaN                   NaN                   32.0
2609427                  NaN                   NaN                   28.0
...                      ...                   ...                    ...
6495552                  NaN                   NaN                   28.0
6495553                  NaN                   NaN                   76.0
6495557                  NaN                   NaN                   76.0
6495559                  NaN                   NaN                   49.0
6495564         1.703132e+10          1.703132e+10                   32.0

         Dropoff Community Area  ...  Extras  Trip Total  Payment Type  \
2609422                    33.0  ...     4.0       67.50   Credit Card
2609424                     8.0  ...     4.0       60.94   Credit Card
2609425                    60.0  ...     0.0       27.25          Cash
2609426                     6.0  ...     0.0       23.10   Credit Card
2609427                     8.0  ...     1.0       10.50   Credit Card
...                         ...  ...     ...         ...           ...
6495552                    28.0  ...     0.0       30.50   Credit Card
6495553                    10.0  ...     5.0       30.30   Credit Card
6495557                     7.0  ...     1.0       13.00   Credit Card
6495559                    49.0  ...     0.0        6.50          Cash
6495564                    32.0  ...     0.0       25.62   Credit Card

                                Company  Pickup Centroid Latitude  \
2609422                        Sun Taxi                 41.980264
2609424                     5 Star Taxi                 41.980264
2609425    Taxicab Insurance Agency Llc                 41.792592
2609426  Star North Taxi Management Llc                 41.878866
2609427       Taxi Affiliation Services                 41.874005
...                                 ...                       ...
6495552                       Flash Cab                 41.874005
6495553                       Flash Cab                 41.980264
6495557                      Globe Taxi                 41.980264
6495559                       Flash Cab                 41.706588
6495564                        Sun Taxi                 41.884987

        Pickup Centroid Longitude              Pickup Centroid Location  \
2609422                -87.913625   POINT (-87.913624596 41.9802643146)
2609424                -87.913625   POINT (-87.913624596 41.9802643146)
2609425                -87.769615  POINT (-87.7696154528 41.7925923603)
2609426                -87.625192  POINT (-87.6251921424 41.8788655841)
2609427                -87.663518   POINT (-87.6635175498 41.874005383)
...                           ...                                   ...
6495552                -87.663518   POINT (-87.6635175498 41.874005383)
6495553                -87.913625   POINT (-87.913624596 41.9802643146)
6495557                -87.913625   POINT (-87.913624596 41.9802643146)
6495559                -87.623367  POINT (-87.6233665115 41.7065878819)
6495564                -87.620993  POINT (-87.6209929134 41.8849871918)

         Dropoff Centroid Latitude  Dropoff Centroid Longitude  \
2609422                  41.857184                  -87.620335
2609424                  41.899602                  -87.633308
2609425                  41.836150                  -87.648788
2609426                  41.944227                  -87.655998
2609427                  41.899602                  -87.633308
...                            ...                         ...
6495552                  41.874005                  -87.663518
6495553                  41.985015                  -87.804532
6495557                  41.922686                  -87.649489
6495559                  41.706588                  -87.623367
6495564                  41.884987                  -87.620993

                   Dropoff Centroid  Location
2609422  POINT (-87.6203346241 41.8571838585)
2609424   POINT (-87.6333080367 41.899602111)
2609425  POINT (-87.6487879519 41.8361501547)
2609426  POINT (-87.6559981815 41.9442266014)
2609427   POINT (-87.6333080367 41.899602111)
...                                       ...
6495552   POINT (-87.6635175498 41.874005383)
6495553  POINT (-87.8045320063 41.9850151008)
6495557  POINT (-87.6494887289 41.9226862843)
6495559  POINT (-87.6233665115 41.7065878819)
6495564  POINT (-87.6209929134 41.8849871918)

[3513535 rows x 23 columns]>

In [56]:
import pandas as pd

# 假设这是加载数据的代码
# df = pd.read_csv('path_to_your_data.csv')

# 将时间戳列转换为datetime类型
trip_df['Trip Start Timestamp'] = pd.to_datetime(trip_df['Trip Start Timestamp'])
trip_df['Trip End Timestamp'] = pd.to_datetime(trip_df['Trip End Timestamp'])

# 找出时间范围
start_time_min = trip_df['Trip Start Timestamp'].min()
end_time_max = trip_df['Trip End Timestamp'].max()

print(f"时间范围从 {start_time_min} 到 {end_time_max}")

时间范围从 2023-06-01 00:00:00 到 2023-12-31 23:45:00

In [57]:
min_pickup_longitude = trip_df['Pickup Centroid Longitude'].min()
max_pickup_longitude = trip_df['Pickup Centroid Longitude'].max()
min_pickup_latitude = trip_df['Pickup Centroid Latitude'].min()
max_pickup_latitude = trip_df['Pickup Centroid Latitude'].max()
min_dropoff_longitude = trip_df['Dropoff Centroid Longitude'].min()
max_dropoff_longitude = trip_df['Dropoff Centroid Longitude'].max()
min_dropoff_latitude = trip_df['Dropoff Centroid Latitude'].min()
max_dropoff_latitude = trip_df['Dropoff Centroid Latitude'].max()

# 打印结果
print("Pickup Longitude - Min:", min_pickup_longitude, "Max:", max_pickup_longitude)
print("Pickup Latitude - Min:", min_pickup_latitude, "Max:", max_pickup_latitude)
print("Dropoff Longitude - Min:", min_dropoff_longitude, "Max:", max_dropoff_longitude)
print("Dropoff Latitude - Min:", min_dropoff_latitude, "Max:", max_dropoff_latitude)

Pickup Longitude - Min: -87.913624596 Max: -87.534902901
Pickup Latitude - Min: 41.650221676 Max: 42.021223593
Dropoff Longitude - Min: -87.913624596 Max: -87.534902901
Dropoff Latitude - Min: 41.660136051 Max: 42.021223593

In [58]:
# 找到所有经度和纬度的最大和最小值
min_longitude = min(trip_df['Pickup Centroid Longitude'].min(), trip_df['Dropoff Centroid Longitude'].min())
max_longitude = max(trip_df['Pickup Centroid Longitude'].max(), trip_df['Dropoff Centroid Longitude'].max())
min_latitude = min(trip_df['Pickup Centroid Latitude'].min(), trip_df['Dropoff Centroid Latitude'].min())
max_latitude = max(trip_df['Pickup Centroid Latitude'].max(), trip_df['Dropoff Centroid Latitude'].max())

# 打印结果
print("Global Minimum Longitude:", min_longitude)
print("Global Maximum Longitude:", max_longitude)
print("Global Minimum Latitude:", min_latitude)
print("Global Maximum Latitude:", max_latitude)

Global Minimum Longitude: -87.913624596
Global Maximum Longitude: -87.534902901
Global Minimum Latitude: 41.650221676
Global Maximum Latitude: 42.021223593

In [59]:
import pandas as pd
import numpy as np
import folium
from folium.plugins import HeatMap

# 创建地图对象，以芝加哥市中心为中心
map = folium.Map(location=[41.8781, -87.6298], zoom_start=12)  # 调整地图的初始位置和缩放级别

# 添加热力图层
sampled_data = trip_df.sample(n=300000, random_state=42)
heatmap_data = sampled_data[['Pickup Centroid Latitude', 'Pickup Centroid Longitude']].values.tolist()  # 将数据转换为列表
HeatMap(heatmap_data).add_to(map)

# heatmap_data = [[row['Pickup Centroid Latitude'], row['Pickup Centroid Longitude']] for index, row in trip_df.iterrows()]
# HeatMap(heatmap_data).add_to(map)

# sampled_data
# 保存地图
map.save('Chicago_Taxi_Pickup_Heatmap.html')

print("Heatmap has been created and saved as 'Chicago_Taxi_Pickup_Heatmap.html'")

Heatmap has been created and saved as 'Chicago_Taxi_Pickup_Heatmap.html'

In [60]:
trip_df.to_csv('clean_trip.csv', index=False)

## Clean Trip

In [61]:
clean_trip = pd.read_csv('clean_trip.csv')

In [62]:
# 定义网格尺寸
n_rows = 30
n_columns = 20
lon_width = (87.913624596 - 87.534902901) / n_columns
lat_height = (42.021223593 - 41.650221676) / n_rows

# 计算网格编号
def calculate_grid_id(lon, lat):
    lon_idx = int((lon + 87.913624596) / lon_width)
    lat_idx = int((42.021223593 - lat) / lat_height)
    return lon_idx + lat_idx * n_columns

# 为每个行程添加网格编号
clean_trip['pickup_grid_id'] = clean_trip.apply(lambda x: calculate_grid_id(x['Pickup Centroid Longitude'], x['Pickup Centroid Latitude']), axis=1)
clean_trip['dropoff_grid_id'] = clean_trip.apply(lambda x: calculate_grid_id(x['Dropoff Centroid Longitude'], x['Dropoff Centroid Latitude']), axis=1)

# 打印更新后的DataFrame信息
print(clean_trip[['pickup_grid_id', 'dropoff_grid_id']].head())

   pickup_grid_id  dropoff_grid_id
0              60              275
1              60              194
2             367              293
3             235              133
4             233              194

In [63]:
# 按pickup_grid_id分组并计算每组的数据数
grouped_pickup_counts = clean_trip.groupby('pickup_grid_id').size()

# 将结果转换为DataFrame并重置索引，方便查看
grouped_pickup_counts_df = grouped_pickup_counts.reset_index(name='count')

# 打印结果
print(grouped_pickup_counts_df)

     pickup_grid_id  count
0                11     15
1                12  17849
2                13     31
3                20      7
4                25    790
..              ...    ...
200             574   7292
201             576      7
202             579   1413
203             596   2893
204             616      1

[205 rows x 2 columns]

In [72]:
clean_trip

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location,pickup_grid_id,dropoff_grid_id
0,01b99a00c590a4df1af2f5a86c87a31450907bdd,a33e818f102d2dc8ba6ec21c582cf1aa1cd034a85db091...,2023-06-01 00:00:00,2023-06-01 00:30:00,2031.0,21.03,NaN,NaN,76.0,33.0,...,Credit Card,Sun Taxi,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.857184,-87.620335,POINT (-87.6203346241 41.8571838585),60,275
1,111052ef490e1b1b59311636ead9f384d19b970a,eead1e2c21b26570411277cb384d3d8d072fc6da913b06...,2023-06-01 00:00:00,2023-06-01 00:30:00,1412.0,17.83,NaN,NaN,76.0,8.0,...,Credit Card,5 Star Taxi,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),60,194
2,14d661536fb9cbf261dcdf51e7df7f0d56a12b39,180309cc29892cd16348ef74d7dd6f33af87e585a29b62...,2023-06-01 00:00:00,2023-06-01 00:45:00,2517.0,7.50,NaN,NaN,56.0,60.0,...,Cash,Taxicab Insurance Agency Llc,41.792592,-87.769615,POINT (-87.7696154528 41.7925923603),41.836150,-87.648788,POINT (-87.6487879519 41.8361501547),367,293
3,16d98c0c6cd54966cc4f4dec806491857b670228,ffa4a7ea614ef7d2eac427f6f1a0af6a5298a57224da0b...,2023-06-01 00:00:00,2023-06-01 00:15:00,952.0,6.41,NaN,NaN,32.0,6.0,...,Credit Card,Star North Taxi Management Llc,41.878866,-87.625192,POINT (-87.6251921424 41.8788655841),41.944227,-87.655998,POINT (-87.6559981815 41.9442266014),235,133
4,16ee8eea0d749454c22e33b7b67e8d7d8c42c6c4,0bea3de3c36237d68b009b24ee3db86c78e9e618a73a3b...,2023-06-01 00:00:00,2023-06-01 00:15:00,480.0,1.50,NaN,NaN,28.0,8.0,...,Credit Card,Taxi Affiliation Services,41.874005,-87.663518,POINT (-87.6635175498 41.874005383),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),233,194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513530,c5ad9b572bff9d5cb9a8cf0da173789f7910a835,c7a8a53874bbcdb11e70a488485e8bdd0bb8cc0de8f5d9...,2023-12-31 23:45:00,2023-12-31 23:45:00,7.0,0.00,NaN,NaN,28.0,28.0,...,Credit Card,Flash Cab,41.874005,-87.663518,POINT (-87.6635175498 41.874005383),41.874005,-87.663518,POINT (-87.6635175498 41.874005383),233,233
3513531,c6cb3aad561e0c407239333d535a4922540f9adc,bca79085da78d157007711d04c6e06f655ee5eafb1e5b6...,2023-12-31 23:45:00,2023-12-31 23:45:00,839.0,7.17,NaN,NaN,76.0,10.0,...,Credit Card,Flash Cab,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.985015,-87.804532,POINT (-87.8045320063 41.9850151008),60,45
3513532,dcfbaa5d01e81e18637185fc5e822d6a08456f59,2659a61c08f91c6efd9e7d7947a00006a7bc26aa518241...,2023-12-31 23:45:00,2023-12-31 23:45:00,300.0,1.80,NaN,NaN,76.0,7.0,...,Credit Card,Globe Taxi,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.922686,-87.649489,POINT (-87.6494887289 41.9226862843),60,153
3513533,e2b8bea5dbc60464ff88ba8dc8b66836513101e8,884655d853cbe41e1cdf747969f0dc5b55ed2d5f76c09a...,2023-12-31 23:45:00,2023-12-31 23:45:00,279.0,1.51,NaN,NaN,49.0,49.0,...,Cash,Flash Cab,41.706588,-87.623367,POINT (-87.6233665115 41.7065878819),41.706588,-87.623367,POINT (-87.6233665115 41.7065878819),515,515
3513534,ed445ada05f17c5f359892eda3c329e1445b5e7b,4b034948aceedd53262ae713f864b0364953a1852b6b24...,2023-12-31 23:45:00,2023-12-31 23:45:00,4.0,0.00,1.703132e+10,1.703132e+10,32.0,32.0,...,Credit Card,Sun Taxi,41.884987,-87.620993,POINT (-87.6209929134 41.8849871918),41.884987,-87.620993,POINT (-87.6209929134 41.8849871918),235,235

In [73]:
# 读取映射表CSV文件并将其转换回字典格式

# 读取CSV文件到DataFrame
mapping_df_loaded = pd.read_csv('grid_id_mapping.csv')

# 将DataFrame转换为字典
grid_id_mapping = dict(zip(mapping_df_loaded['Old_Grid_ID'], mapping_df_loaded['New_Grid_ID']))

grid_id_mapping

{11: 0,
 12: 1,
 13: 2,
 25: 3,
 26: 4,
 30: 5,
 31: 6,
 32: 7,
 33: 8,
 46: 9,
 50: 10,
 51: 11,
 52: 12,
 53: 13,
 60: 14,
 65: 15,
 66: 16,
 67: 17,
 68: 18,
 69: 19,
 70: 20,
 71: 21,
 72: 22,
 73: 23,
 87: 24,
 88: 25,
 89: 26,
 90: 27,
 91: 28,
 92: 29,
 93: 30,
 94: 31,
 105: 32,
 106: 33,
 107: 34,
 108: 35,
 109: 36,
 110: 37,
 111: 38,
 112: 39,
 113: 40,
 114: 41,
 125: 42,
 126: 43,
 127: 44,
 128: 45,
 129: 46,
 130: 47,
 131: 48,
 132: 49,
 133: 50,
 134: 51,
 146: 52,
 147: 53,
 148: 54,
 149: 55,
 150: 56,
 151: 57,
 152: 58,
 153: 59,
 154: 60,
 166: 61,
 167: 62,
 168: 63,
 169: 64,
 170: 65,
 171: 66,
 172: 67,
 173: 68,
 174: 69,
 187: 70,
 188: 71,
 189: 72,
 190: 73,
 191: 74,
 192: 75,
 193: 76,
 194: 77,
 195: 78,
 207: 79,
 208: 80,
 209: 81,
 210: 82,
 211: 83,
 212: 84,
 213: 85,
 214: 86,
 215: 87,
 227: 88,
 228: 89,
 229: 90,
 230: 91,
 231: 92,
 232: 93,
 233: 94,
 234: 95,
 235: 96,
 247: 97,
 248: 98,
 249: 99,
 250: 100,
 251: 101,
 252: 102,
 253: 103,
 254: 104,
 255: 105,
 269: 106,
 270: 107,
 271: 108,
 272: 109,
 273: 110,
 274: 111,
 275: 112,
 289: 113,
 290: 114,
 291: 115,
 292: 116,
 293: 117,
 294: 118,
 295: 119,
 311: 120,
 312: 121,
 313: 122,
 314: 123,
 315: 124,
 328: 125,
 330: 126,
 331: 127,
 332: 128,
 333: 129,
 334: 130,
 335: 131,
 336: 132,
 348: 133,
 349: 134,
 350: 135,
 351: 136,
 352: 137,
 353: 138,
 354: 139,
 355: 140,
 356: 141,
 357: 142,
 366: 143,
 367: 144,
 368: 145,
 369: 146,
 370: 147,
 371: 148,
 372: 149,
 373: 150,
 374: 151,
 375: 152,
 376: 153,
 377: 154,
 386: 155,
 387: 156,
 389: 157,
 390: 158,
 391: 159,
 392: 160,
 393: 161,
 394: 162,
 395: 163,
 396: 164,
 397: 165,
 409: 166,
 410: 167,
 411: 168,
 412: 169,
 413: 170,
 414: 171,
 415: 172,
 416: 173,
 417: 174,
 418: 175,
 429: 176,
 430: 177,
 431: 178,
 432: 179,
 433: 180,
 434: 181,
 435: 182,
 436: 183,
 437: 184,
 438: 185,
 449: 186,
 450: 187,
 453: 188,
 454: 189,
 455: 190,
 456: 191,
 457: 192,
 458: 193,
 472: 194,
 473: 195,
 474: 196,
 475: 197,
 476: 198,
 477: 199,
 479: 200,
 492: 201,
 493: 202,
 494: 203,
 495: 204,
 497: 205,
 499: 206,
 512: 207,
 514: 208,
 515: 209,
 518: 210,
 519: 211,
 531: 212,
 532: 213,
 533: 214,
 534: 215,
 535: 216,
 553: 217,
 554: 218,
 555: 219}

In [90]:
# 为数据集应用新的网格编号
clean_trip['new_pickup_grid_id'] = clean_trip['pickup_grid_id'].map(grid_id_mapping)
clean_trip['new_dropoff_grid_id'] = clean_trip['dropoff_grid_id'].map(grid_id_mapping)

# 删除那些新网格编号为NaN的行
filtered_trip_df = clean_trip.dropna(subset=['new_pickup_grid_id', 'new_dropoff_grid_id'])

In [91]:
# 按pickup_grid_id分组并计算每组的数据数
grouped_pickup_counts = filtered_trip_df.groupby('new_pickup_grid_id').size()

# 将结果转换为DataFrame并重置索引，方便查看
grouped_pickup_counts_df = grouped_pickup_counts.reset_index(name='count')

# 打印结果
print(grouped_pickup_counts_df)

     new_pickup_grid_id  count
0                     0     15
1                     1  17606
2                     2     31
3                     3    766
4                     6  22617
..                  ...    ...
171                 209   8624
172                 213   4618
173                 214      4
174                 216      3
175                 217      3

[176 rows x 2 columns]

In [92]:
filtered_trip_df

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location,pickup_grid_id,dropoff_grid_id,new_pickup_grid_id,new_dropoff_grid_id
0,01b99a00c590a4df1af2f5a86c87a31450907bdd,a33e818f102d2dc8ba6ec21c582cf1aa1cd034a85db091...,2023-06-01 00:00:00,2023-06-01 00:30:00,2031.0,21.03,NaN,NaN,76.0,33.0,...,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.857184,-87.620335,POINT (-87.6203346241 41.8571838585),60,275,14,112
1,111052ef490e1b1b59311636ead9f384d19b970a,eead1e2c21b26570411277cb384d3d8d072fc6da913b06...,2023-06-01 00:00:00,2023-06-01 00:30:00,1412.0,17.83,NaN,NaN,76.0,8.0,...,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),60,194,14,77
2,14d661536fb9cbf261dcdf51e7df7f0d56a12b39,180309cc29892cd16348ef74d7dd6f33af87e585a29b62...,2023-06-01 00:00:00,2023-06-01 00:45:00,2517.0,7.50,NaN,NaN,56.0,60.0,...,41.792592,-87.769615,POINT (-87.7696154528 41.7925923603),41.836150,-87.648788,POINT (-87.6487879519 41.8361501547),367,293,144,117
3,16d98c0c6cd54966cc4f4dec806491857b670228,ffa4a7ea614ef7d2eac427f6f1a0af6a5298a57224da0b...,2023-06-01 00:00:00,2023-06-01 00:15:00,952.0,6.41,NaN,NaN,32.0,6.0,...,41.878866,-87.625192,POINT (-87.6251921424 41.8788655841),41.944227,-87.655998,POINT (-87.6559981815 41.9442266014),235,133,96,50
4,16ee8eea0d749454c22e33b7b67e8d7d8c42c6c4,0bea3de3c36237d68b009b24ee3db86c78e9e618a73a3b...,2023-06-01 00:00:00,2023-06-01 00:15:00,480.0,1.50,NaN,NaN,28.0,8.0,...,41.874005,-87.663518,POINT (-87.6635175498 41.874005383),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),233,194,94,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513529,ae20c529b8423608f3f0bfcfa243100219f1241e,d3e38cf4471f5b65aa0c41a155252c395b7c8593ac6fb5...,2023-12-31 23:45:00,2023-12-31 23:45:00,1.0,0.04,NaN,NaN,27.0,27.0,...,41.878914,-87.705897,POINT (-87.7058971305 41.8789144956),41.878914,-87.705897,POINT (-87.7058971305 41.8789144956),230,230,91,91
3513530,c5ad9b572bff9d5cb9a8cf0da173789f7910a835,c7a8a53874bbcdb11e70a488485e8bdd0bb8cc0de8f5d9...,2023-12-31 23:45:00,2023-12-31 23:45:00,7.0,0.00,NaN,NaN,28.0,28.0,...,41.874005,-87.663518,POINT (-87.6635175498 41.874005383),41.874005,-87.663518,POINT (-87.6635175498 41.874005383),233,233,94,94
3513532,dcfbaa5d01e81e18637185fc5e822d6a08456f59,2659a61c08f91c6efd9e7d7947a00006a7bc26aa518241...,2023-12-31 23:45:00,2023-12-31 23:45:00,300.0,1.80,NaN,NaN,76.0,7.0,...,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.922686,-87.649489,POINT (-87.6494887289 41.9226862843),60,153,14,59
3513533,e2b8bea5dbc60464ff88ba8dc8b66836513101e8,884655d853cbe41e1cdf747969f0dc5b55ed2d5f76c09a...,2023-12-31 23:45:00,2023-12-31 23:45:00,279.0,1.51,NaN,NaN,49.0,49.0,...,41.706588,-87.623367,POINT (-87.6233665115 41.7065878819),41.706588,-87.623367,POINT (-87.6233665115 41.7065878819),515,515,209,209
3513534,ed445ada05f17c5f359892eda3c329e1445b5e7b,4b034948aceedd53262ae713f864b0364953a1852b6b24...,2023-12-31 23:45:00,2023-12-31 23:45:00,4.0,0.00,1.703132e+10,1.703132e+10,32.0,32.0,...,41.884987,-87.620993,POINT (-87.6209929134 41.8849871918),41.884987,-87.620993,POINT (-87.6209929134 41.8849871918),235,235,96,96

In [93]:
filtered_trip_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3291357 entries, 0 to 3513534
Data columns (total 27 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Trip ID                     object
 1   Taxi ID                     object
 2   Trip Start Timestamp        object
 3   Trip End Timestamp          object
 4   Trip Seconds                float64
 5   Trip Miles                  float64
 6   Pickup Census Tract         float64
 7   Dropoff Census Tract        float64
 8   Pickup Community Area       float64
 9   Dropoff Community Area      float64
 10  Fare                        float64
 11  Tips                        float64
 12  Tolls                       float64
 13  Extras                      float64
 14  Trip Total                  float64
 15  Payment Type                object
 16  Company                     object
 17  Pickup Centroid Latitude    float64
 18  Pickup Centroid Longitude   float64
 19  Pickup Centroid Location    object
 20  Dropoff Centroid Latitude   float64
 21  Dropoff Centroid Longitude  float64
 22  Dropoff Centroid  Location  object
 23  pickup_grid_id              int64
 24  dropoff_grid_id             int64
 25  new_pickup_grid_id          int64
 26  new_dropoff_grid_id         int64
dtypes: float64(15), int64(4), object(8)
memory usage: 703.1+ MB

In [94]:
# 删除指定列
columns_to_drop = ['Pickup Centroid Latitude', 'Pickup Centroid Longitude', 'Pickup Centroid Location', 
                   'Dropoff Centroid Latitude', 'Dropoff Centroid Longitude', 'Dropoff Centroid  Location', 
                   'pickup_grid_id', 'dropoff_grid_id']
filtered_trip_df.drop(columns=columns_to_drop, inplace=True)

# 输出到CSV文件
filtered_trip_df.to_csv('filtered_trip_df.csv', index=False)

## Filtered TRIP DF

In [95]:
import pandas as pd

filtered_trip_df = pd.read_csv('filtered_trip_df.csv')

In [96]:
filtered_trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3291357 entries, 0 to 3291356
Data columns (total 19 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Trip ID                 object
 1   Taxi ID                 object
 2   Trip Start Timestamp    object
 3   Trip End Timestamp      object
 4   Trip Seconds            float64
 5   Trip Miles              float64
 6   Pickup Census Tract     float64
 7   Dropoff Census Tract    float64
 8   Pickup Community Area   float64
 9   Dropoff Community Area  float64
 10  Fare                    float64
 11  Tips                    float64
 12  Tolls                   float64
 13  Extras                  float64
 14  Trip Total              float64
 15  Payment Type            object
 16  Company                 object
 17  new_pickup_grid_id      int64
 18  new_dropoff_grid_id     int64
dtypes: float64(11), int64(2), object(6)
memory usage: 477.1+ MB

In [97]:
# 从 filtered_manhattan_df 中选择指定的列，创建 pickup_df
pickup_df = filtered_trip_df.loc[:, ['Trip Start Timestamp', 'new_pickup_grid_id']]

# 从 filtered_manhattan_df 中选择指定的列，创建 dropoff_df
dropoff_df = filtered_trip_df.loc[:, ['Trip End Timestamp', 'new_dropoff_grid_id']]

In [98]:
pickup_df.to_csv('pickup_df.csv', index=False)
dropoff_df.to_csv('dropoff_df.csv', index=False)

## Pickup DF

In [99]:
import pandas as pd

# 设置开始和结束日期
start_date = '2023-06-01 00:00:00'
end_date = '2023-12-31 23:59:59'

# 生成时间序列，间隔为30分钟
time_slices = pd.date_range(start=start_date, end=end_date, freq='30T')

time_slices

DatetimeIndex(['2023-06-01 00:00:00', '2023-06-01 00:30:00',
               '2023-06-01 01:00:00', '2023-06-01 01:30:00',
               '2023-06-01 02:00:00', '2023-06-01 02:30:00',
               '2023-06-01 03:00:00', '2023-06-01 03:30:00',
               '2023-06-01 04:00:00', '2023-06-01 04:30:00',
               ...
               '2023-12-31 19:00:00', '2023-12-31 19:30:00',
               '2023-12-31 20:00:00', '2023-12-31 20:30:00',
               '2023-12-31 21:00:00', '2023-12-31 21:30:00',
               '2023-12-31 22:00:00', '2023-12-31 22:30:00',
               '2023-12-31 23:00:00', '2023-12-31 23:30:00'],
              dtype='datetime64[ns]', length=10272, freq='30T')

In [100]:
pickup_df = pd.read_csv('pickup_df.csv')
pickup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3291357 entries, 0 to 3291356
Data columns (total 2 columns):
 #   Column                Dtype
---  ------                -----
 0   Trip Start Timestamp  object
 1   new_pickup_grid_id    int64
dtypes: int64(1), object(1)
memory usage: 50.2+ MB

In [101]:
# 将Trip Start Timestamp列转换为Datetime类型
pickup_df['Trip Start Timestamp'] = pd.to_datetime(pickup_df['Trip Start Timestamp'])

In [102]:
# 创建一个新列表示时间片段（每30分钟）
pickup_df['time_slice'] = pickup_df['Trip Start Timestamp'].dt.floor('30min')

# 按照时间片段和网格编号进行分组，并统计每个分组中的记录数
grouped = pickup_df.groupby(['time_slice', 'new_pickup_grid_id']).agg({'new_pickup_grid_id': 'count'})

In [103]:
grouped.head(10)

                               new_pickup_grid_id
time_slice new_pickup_grid_id
2023-06-01 13                                   1
           14                                  53
           17                                   1
           30                                   1
           50                                   2
           59                                   2
           75                                   2
           77                                  22
           80                                   1
           87                                   3

In [104]:
grouped.tail(10)

                                        new_pickup_grid_id
time_slice          new_pickup_grid_id
2023-12-31 23:30:00 85                                   1
                    86                                   2
                    87                                   3
                    91                                   1
                    94                                   9
                    95                                   3
                    96                                  10
                    112                                  3
                    144                                  1
                    209                                  1

In [111]:
import numpy as np

# 将结果重塑为所需的形状
# time_slices = sorted(pickup_df['time_slice'].unique())  # 获取所有时间片段
grid_ids = list(range(220))  # 获取所有网格编号
pick_up = np.zeros((len(time_slices), len(grid_ids)), dtype=int)  # 创建空的结果数组

# 填充结果数组
for i, time_slice in enumerate(time_slices):
    for j, grid_id in enumerate(grid_ids):
        try:
            count = grouped.loc[(time_slice, grid_id), 'new_pickup_grid_id']
        except KeyError:
            count = 0
        pick_up[i, j] = count

# 输出结果
print(pick_up)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 3 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [112]:
pick_up.shape

(10272, 220)

In [123]:
np.save('pickup.npy', pick_up.T)

## Dropoff DF

In [114]:
import pandas as pd

# 设置开始和结束日期
start_date = '2023-06-01 00:00:00'
end_date = '2023-12-31 23:59:59'

# 生成时间序列，间隔为30分钟
time_slices = pd.date_range(start=start_date, end=end_date, freq='30T')

time_slices

DatetimeIndex(['2023-06-01 00:00:00', '2023-06-01 00:30:00',
               '2023-06-01 01:00:00', '2023-06-01 01:30:00',
               '2023-06-01 02:00:00', '2023-06-01 02:30:00',
               '2023-06-01 03:00:00', '2023-06-01 03:30:00',
               '2023-06-01 04:00:00', '2023-06-01 04:30:00',
               ...
               '2023-12-31 19:00:00', '2023-12-31 19:30:00',
               '2023-12-31 20:00:00', '2023-12-31 20:30:00',
               '2023-12-31 21:00:00', '2023-12-31 21:30:00',
               '2023-12-31 22:00:00', '2023-12-31 22:30:00',
               '2023-12-31 23:00:00', '2023-12-31 23:30:00'],
              dtype='datetime64[ns]', length=10272, freq='30T')

In [115]:
dropoff_df = pd.read_csv('dropoff_df.csv')
dropoff_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3291357 entries, 0 to 3291356
Data columns (total 2 columns):
 #   Column               Dtype
---  ------               -----
 0   Trip End Timestamp   object
 1   new_dropoff_grid_id  int64
dtypes: int64(1), object(1)
memory usage: 50.2+ MB

In [117]:
# 将Trip Start Timestamp列转换为Datetime类型
dropoff_df['Trip End Timestamp'] = pd.to_datetime(dropoff_df['Trip End Timestamp'])

In [118]:
# 创建一个新列表示时间片段（每30分钟）
dropoff_df['time_slice'] = dropoff_df['Trip End Timestamp'].dt.floor('30min')

# 按照时间片段和网格编号进行分组，并统计每个分组中的记录数
grouped = dropoff_df.groupby(['time_slice', 'new_dropoff_grid_id']).agg({'new_dropoff_grid_id': 'count'})

In [119]:
grouped.head(10)

                                new_dropoff_grid_id
time_slice new_dropoff_grid_id
2023-06-01 14                                     1
           27                                     1
           39                                     1
           47                                     2
           50                                     5
           57                                     1
           59                                     4
           75                                     4
           77                                    16
           80                                     1

In [120]:
grouped.tail(10)

                                         new_dropoff_grid_id
time_slice          new_dropoff_grid_id
2023-12-31 23:30:00 94                                     9
                    95                                     3
                    96                                    13
                    112                                    4
                    114                                    1
                    139                                    1
                    153                                    2
                    174                                    2
                    190                                    1
                    209                                    1

In [121]:
import numpy as np

# 将结果重塑为所需的形状
# time_slices = sorted(pickup_df['time_slice'].unique())  # 获取所有时间片段
grid_ids = list(range(220))  # 获取所有网格编号
drop_off = np.zeros((len(time_slices), len(grid_ids)), dtype=int)  # 创建空的结果数组

# 填充结果数组
for i, time_slice in enumerate(time_slices):
    for j, grid_id in enumerate(grid_ids):
        try:
            count = grouped.loc[(time_slice, grid_id), 'new_dropoff_grid_id']
        except KeyError:
            count = 0
        drop_off[i, j] = count

# 输出结果
print(drop_off)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 2 0 ... 0 0 0]
 ...
 [0 1 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 1 0 ... 0 0 0]]

In [122]:
drop_off.shape

(10272, 220)

In [124]:
np.save('dropoff.npy', drop_off.T)